<!doctype html>
<head>
    <title>UCL Induction Week Charities Hackathon 23/24</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ucl.jpg') }}">
</head>
<html>
   <body>
     <main>
       <img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Azure Logo" style="width: 100%; height: auto" enlarge="true"/>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Azure Logo" width="192" height="192"/>            <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to Team 12</h1>          
            <video width="320" height="240" controls>
              <source src="{{ url_for('static', filename='images/sample.mp4') }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
     </main>      
   </body>
</html>